body {
    font-family: Arial, sans-serif;
}

.memes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#meme-canvas {
    border: 2px #000 solid;
    display: block;
    margin: 20px auto;
}

.meme-btn {
    padding: 3px;
    padding-left: 1px;
    padding-right: 1px;
}

.actions {
	display: flex;
	justify-content: space-between;
}

.hero {
    display: flex;
	justify-content: space-between;
    border: 2px #000 solid;
    
}

.meme-preview {
    display: grid;
	justify-content: space-between;
    grid-template-columns: repeat(1, 3fr);
    gap: 10px;
    border: 2px #000 solid;
    background-color: #eee;
}
#memeCanvas {
    display: none;
}