body {
    font-family: Arial, sans-serif;
}

.memes-container {
    color: #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#meme-canvas {
    border: 2px #000 solid;
    display: block;
    margin: 20px auto;
}

.meme-btn {
    padding: 3px;
    margin: 4px;
}

.actions {
	display: flex;
	justify-content: space-between;
}

.hero {
    display: flex;
	justify-content: center;
    border: 2px #000 solid;
    align-items: center;
    color: white;
    text-align: center;
}

.hero p {
    
    font-size: 1.4rem;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.meme-preview {
    display: grid;
	justify-content: space-between;
    grid-template-columns: repeat(1, 3fr);
    gap: 10px;
    border: 2px #000 solid;
    background-color: #eee;
}

#memeCanvas {
    display: none;
}

#meme-editor {
    display: none;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}